@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}
html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #31aafb, #8058ef);
  font-size: larger;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin:  0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #0d00ff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
div.box {
  margin-left: 7%;
  width:90%;
}
div.box div {
  background-color:#fefefe;
  padding: 1%;
  margin: 20px;
  width:29%;  
  float:left;
  box-shadow: 3px 3px 5px 0px;
  border-radius: 10px;
}