@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}
html, body {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background: black;
}
.main {
    background: url(Asset/Background.jpg);
    background-position: top;
    background-size: cover;
    pointer-events: auto;
    transition: 0.5s ease;
}
.main.active {
    background: url(https://i.gifer.com/XfQB.gif);
    /* filter: blur(15px); */
    pointer-events: none;
}
.navbar {
    width: 85%;
    margin: auto;
    color: #fff;
    padding: 35px 0;
    display: flex;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:  0 20px;
    position: relative;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.navbar ul li a.active {
    color: rgb(255, 0, 0);
}
.body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 77.8vh;
    background-position:center;
    background-size: cover;
    /* background: linear-gradient(135deg, #31aafb, #8058ef); */
}
.wrapper {
    width: 430px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper h1 {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content {
    margin: 25px 25px 35px;
}
.content .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputs input {
    height: 57px;
    width: 56px;
    font-size: 24px;
    font-family: 500;
    text-align: center;
    background: none;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    margin: 2px;
}
.typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute;
    pointer-events: none;
}
.inputs input:first-child {
    margin-left: 0px;
}
.content .details {
    margin: 20px 0 25px;
}

.details p {
    font-size: 19px;
    margin-bottom: 10px;
}
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 98,5%;
}

.content .timer {
    font-family:Arial, sans-serif;
    font-weight: bold;
    color: white;
    background: #8058ef;
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 17pt;
    border-radius: 5px;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-congrats {
    border: 2px solid;
    border-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #5e23ff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}
.popup-congrats.active {
    opacity: 100;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.popup-congrats h2 {
    text-align: center;
    font-size: 50px;
    color: rgb(252, 252, 252);
}
.popup-congrats .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    width: 130px;
    height: 45px;
    background-color: #5e23ff;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.popup-congrats .info-btn:hover {
    color: black;
    background:#fff
}
.popup-congrats img {
    height: 220px;
    justify-content: center;
    align-items: center;
    position: relative;
}